body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    width: 100%;
    height: 100vh;
    background-color: #F8F9FA;
}

/* left  */
.left {
    height: 96vh;
    overflow: hidden;
    position: relative;
}
.carousel-inner{
    border-radius: 20px;
}

.qf-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: #004137; 
    z-index: 9; 
    pointer-events: none; 
    border-radius: 20px;
}


.logo-white img {
    position: absolute;
    height: 160px;
    z-index: 10;
    top: 40%;
    left: 35%;
}

/* right  */
.green-logo img{
   height: 90px; 
}

.qf-input {
    border-radius: 8px;
}

.btn-qf-primary {
    background-color: #065b48 !important;
    color: #ffffff !important;
}

