@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FDEFEF !important;
    font-family: "Roboto Condensed", sans-serif;
}

.text-color {
    color: #254848;
}

nav {
    background-color: #FDEFEF !important;
    z-index: 10;
}

.navbar-brand img {
    height: 50px;
}

.home-button {
    background-color: #034638 !important;
    padding: 2px 12px;
    border-radius: 25px;
    position: absolute;
    left: 44%;
    top: 15%;
}

.home-button a {
    color: #ffffff !important;
}

.fa-calendar {
    color: #034638;
}

.proflie-image img {
    height: 45px;
    border-radius: 50%;
}

.proflie-image {
    border: 1px solid #034638;
    border-radius: 50%;
}


.header-main {
    background-color: #FBF6F2 !important;
    border-radius: 13px;
    box-shadow: 0 25px 43px #EDEBE9, 0 25px 17px #EDEBE9;
}

.fa-solid {
    color: #034638;
}

.fa-circle-info {
    color: #D6E1DF;
}

.item-opreation {
    box-shadow: 0 19px 38px #EDEBE9, 0 15px 12px #EDEBE9;
    border-radius: 12px;
}

.inner-card {
    border-radius: 13px;
    /* background-color: #4CAF50; */
}

.bg-soft-green {
    background-color: #E9F5EC;
}

.bg-soft-grey {
    background-color: #EAEEF2;
}

.bg-soft-blue {
    background-color: #E7F6F9;
}

.bg-soft-purple {
    background-color: #EFEBF4;
}

.bar-chart-container {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    height: 50px;
    padding-bottom: 5px;
}

.bar-col {
    flex: 1;
    background-color: #4CAF50;
    border-radius: 2px;
    height: 40%;
    opacity: 0.8;
}

.bar-col:nth-child(odd) {
    height: 60%;
}

.bar-col:nth-child(2n) {
    height: 30%;
}

.bar-col:nth-child(3n) {
    height: 80%;
}

.bar-col:nth-child(4n) {
    height: 45%;
}

.bar-col.target {
    background-color: #0dcaf0;
    height: 50% !important;
}

.star-icon img {
    border-radius: 50%;
    background-color: #235461;
    width: 70px;
    height: 70px;
    padding: 12px;
    position: absolute;
    left: 95%;
    top: 90%;
}

.x-chart-wrapper {
    position: relative;
    height: 200px;
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
}

.x-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}

.x-line-1 {
    transform: rotate(45deg);
}

.x-line-2 {
    transform: rotate(-45deg);
}

.center-data-point {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #034638;
    color: #ffffff;
    padding: 15px;
    border-radius: 18px;
    text-align: center;
    z-index: 5;
    box-shadow: 0 4px 15px rgba(3, 70, 56, 0.2);
    min-width: 80px;
}

.year-label {
    font-size: 0.7rem;
    opacity: 0.8;
}

.target-line {
    position: absolute;
    left: 50%;
    top: 20%;
    height: 60%;
    border-left: 2px dashed #0dcaf0;
    z-index: 1;
}

.target-dot {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 10px;
    height: 10px;
    background-color: #0dcaf0;
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 6;
}